.b-footer {
    width: 100%;
    height: 220px;
    background-color: var(--color-primario_Violeta);
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 768px) {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__legacy {
        width: 25%;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        @media (max-width: 768px) {
            margin: 40px;
        }

        @media (max-width: 550px) {
            width: 75%;
        }

        &__iconos {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid var(--color-primario_Verde);
            border-radius: 8px;
            padding: 5px 10px;
            margin: 5px 0;

            &:hover {
                cursor: pointer;
                background-color: var(--color-primario_Verde);
            }
        }

        & a {
            color: var(--color-primario_Blanco);
        }
    }

    

    &__button {
        width: 25%;
        height: 120px;
        
        @media (max-width: 550px) {
            width: 75%;
        }
    }
}