/* /////////////////////////    IMG FONDO   //////////////////////////////  */

.b-imgFondo {
    background-image: url(https://images.unsplash.com/photo-1557599443-2071a2df9c19?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1982&q=80);
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
}