/* Variables */

:root {
    --color-primario_Oscuro: #000633;
    --color-primario_Violeta: #5028D2;
    --color-primario_Verde: #38E5A6;
    --color-primario_Blanco: #ffffff;
    --color-primario_Neutro:#adadad;
    --color-secundario_Oscuro: #0006335e;
    --color-secundario_Violeta: #5028d260;
    --color-secundario_Verde: #38e5a6b0;
    --color-secundario_Blanco: #ffffff70;
    --color-secundario_Neutro:#adadadb0;
    --color-formulario_Error: #ff4343d7;
    --color-formulario_Correcto: #30f161;
  }